@use './fonts';
@use './mixins' as m;
@use './colors' as c;

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;

  @include m.breakpoint-down('small') {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: block;
    padding: 50px 0;
    object-fit: cover;
    min-height: 100%;
  }

  &__content {
    display: grid;
    align-items: center;
    padding: 30px 80px 30px 30px;
    height: 100%;

    @include m.breakpoint-down('medium') {
      padding: 20px;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: fonts.$font-semiBold;
    margin-bottom: 15px;

    @include m.breakpoint-down('extra-large') {
      font-size: 44px;
    }

    @include m.breakpoint-down('large') {
      font-size: 38px;
    }
  }

  &__title2 {
    font-size: 50px;
    font-weight: fonts.$font-regular;
    margin-bottom: 15px;
    color: c.$font-color3;

    @include m.breakpoint-down('extra-large') {
      font-size: 30px;
    }

    @include m.breakpoint-down('large') {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 22px;
    padding-bottom: 20px;
  }
}
