@use './colors' as c;
@use './fonts';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: c.$font-color1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.distinction {
  font-weight: fonts.$font-semiBold;
  color: c.$font-color2;
}

.underlined-link {
  text-decoration: underline;
  color: c.$font-color1;
  font-weight: fonts.$font-semiBold;
}

div.anchor {
  position: relative;
  top: -70px;
  visibility: hidden;
}
