$primary-color: #ebe6e6;
$secondary-color: #fff;
$logo-color1: #bc583a;
$logo-color2: #040304;
$font-color1: #585550;
$font-color2: #987061;
$font-color3: #bc583a;
$cta: #585550;
$cta-color: #d5c4bb;
$bg-menu-mobile: #040304;
$hamburger-color: #bc583a;
$cta-hover: #040304;
$menu-link-hover: #bc583a;
$input-border-color: #585550;
