@use './colors' as c;
@use './fonts';
@use './mixins' as m;

.header {
  padding: 0 80px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: transparent;

  @include m.breakpoint-down('medium') {
    height: 50px;
    padding: 0;
  }

  &--onscroll {
    background: c.$primary-color;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    padding: 0 80px;

    @include m.breakpoint-down('medium') {
      background: transparent;
      box-shadow: unset;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  width: 100%;
  height: 70px;
  left: 0;
  position: relative;
  transition: 0.4s;
  z-index: 9999;

  @include m.breakpoint-down('medium') {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    left: -100%;
    position: absolute;
    background: c.$bg-menu-mobile;
  }
}

.menu--isopen {
  left: 0;
}
.menu__item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include m.breakpoint-down('medium') {
    flex-direction: column;
  }
}

.menu__item {
  padding: 0;

  @include m.breakpoint-down('medium') {
    padding: 25px 0;
  }
}

.menu__link {
  font-size: 1rem;
  color: c.$font-color4;
  font-weight: fonts.$font-semiBold;
  position: relative;
  margin: 0 1rem;

  @include m.breakpoint-down('medium') {
    color: c.$primary-color;
  }
}

.menu__link::before {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  height: 2px;
  background: c.$menu-link-hover;
  transition: 0.4s all;
}
.menu__link:hover::before,
.menu__link--active::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.langWrap {
  display: flex;
  .lang-button {
    margin: 0 5px;
    border: none;
    background: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    &--active {
      border: 2px solid c.$font-color3;
      border-radius: 50%;
      background-color: c.$font-color3;
    }
  }
}
