@use './fonts';
@use './colors' as c;
@use './mixins' as m;

.logo {
  font-size: 34px;
  font-weight: fonts.$font-regular;
  color: c.$logo-color2;

  span {
    color: c.$logo-color1;
    font-weight: fonts.$font-bold;
  }

  @include m.breakpoint-down('medium') {
    color: c.$primary-color;
    margin-bottom: 30px;
  }
}

.content-logo {
  font-size: 24px;
  font-weight: fonts.$font-regular;
  color: c.$logo-color2;
  display: none;
  margin-bottom: 20px;

  span {
    color: c.$logo-color1;
    font-weight: fonts.$font-bold;
  }

  @include m.breakpoint-down('medium') {
    display: block;
  }
}
